<h1>Applications to Daycare</h1>

    <table id="all_applications">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Application date</th>
                <th>Start date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {{# each dashboard_content }}
        <tr>
            <td><a href="/individual/{{this._id}}">{{ this.first_name }} {{ this.last_name }}</a></td>
            <td>{{ this.age }}</td>
            <td>{{ this.application_date }}</td>
            <td>{{ this.start_date }}</td>
            <td>{{ this.status }}</td>
        </tr>
        {{/each }}
        </tbody>
    </table>

<script>
    $(function(){
        $("#all_applications").dataTable();
    })
</script>