<h1>Applications to Daycare</h1>

    <table class="stripe hover" id="all_applications">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Application date</th>
                <th>Start date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {{# each dashboard_content }}
        <tr>
            <td><a href="/individual/{{this._id}}">{{ this.last_name }} {{ this.first_name }}</a></td>
            <td>{{ this.age }}</td>
            <td>{{ this.application_date }}</td>
            <td>{{ this.start_date }}</td>
            <td> <span id="status_label" class="label label-info">{{ this.status }}</span></td>
        </tr>
        {{/each }}
        </tbody>
    </table>

<script>
    /**
     * Enables the DataTables library to the table
     */
    $(function(){
        $("#all_applications").dataTable();
    })
</script>