<div class="row">
    <div id="header_names" class="col-xs-6">
        <h1>Applicant: {{personal_info.first_name}} {{personal_info.last_name}}</h1>
    </div>
    <div id="header_button" class="col-xs-6">
        <button class="btn btn-default" id="application_edit" onclick="return redirectEdit()">Edit</button>
    </div>
    <script>
        function redirectEdit() {
        }
    </script>
</div>

<div class="row">
    <div id="basic_info" class="col-xs-6">
        <h4>Basic info:</h4>
        <p>First name: {{personal_info.first_name}}</p>
        <p>Last name: {{personal_info.last_name}}</p>
        <p>Age: {{personal_info.age}}</p>
        <p>Gender: {{personal_info.gender}}</p>
        <p id="id_code">ID code: {{personal_info.id_code}}</p>
        <p>Daycare type: {{personal_info.daycare_type}}</p>
        <p id="address_applicant">Address: {{personal_info.address}}</p>
        <p>Date of birth: {{personal_info.date_of_birth}}</p>
        <p>Date of application: {{personal_info.application_date}}</p>
        <p>Daycare start date: {{personal_info.start_date}}</p>
        <p>Siblings: {{personal_info.siblings}}</p>
        <h4>Special needs:</h4>
        <p>Allergies: {{personal_info.allergies}}</p>
        <p>Special needs: {{personal_info.special_needs}}</p>
    </div>

    <div id="map_view" class="col-xs-6">
        <h4>Map view</h4>
        <script>
            window.onload = function () {
                convertToURL()
            }

            // Function to strip to full address to usable strings for the iframe URL
            function convertToURL() {
                // Full address with town etc
                let addressToEncode = document.querySelector('div#basic_info').querySelector('#address_applicant').innerHTML.slice(9)

                // Street address stripped till the comma
                let streetaddress = addressToEncode.substr(0, addressToEncode.indexOf(','))

                let streetname = streetaddress.replace(/[0-9]/g, '')

                // Number of the address
                let streetnumber = streetaddress.replace(/\D/g, '');

                document.getElementById('map_frame').src = 'https://palvelukartta.hel.fi/embed/address/helsinki/' + streetname + '/' + streetnumber + '?level=common'
            }
        </script>
        <iframe id="map_frame" style="width: 100%; height: 500px"></iframe>
    </div>
</div>

<h4>Parents info:</h4>

<div class="row">
    <div id="parent_1" class="col-xs-6">
        <p>Parent 1 ID: {{personal_info.parent_1_id}}</p>
        <p>First name: {{personal_info.parent_1_first_name}}</p>
        <p>Last name: {{personal_info.parent_1_last_name}}</p>
        <p>Address: {{personal_info.parent_1_address}}</p>
        <p>Phone number: {{personal_info.parent_1_phone}}</p>
        <p>E-mail address: {{personal_info.parent_1_email}}</p>
        <p>Contact method: {{personal_info.parent_1_preferred_contact_method}}</p>
    </div>

    <div id="parent_2" class="col-xs-6">
        <p>Parent 2 ID: {{personal_info.parent_2_id}}</p>
        <p>First name: {{personal_info.parent_2_first_name}}</p>
        <p>Last name: {{personal_info.parent_2_last_name}}</p>
        <p>Address: {{personal_info.parent_2_address}}</p>
        <p>Phone number: {{personal_info.parent_2_phone}}</p>
        <p>E-mail address: {{personal_info.parent_2_email}}</p>
        <p>Contact method: {{personal_info.parent_2_preferred_contact_method}}</p>
    </div>
</div>

<!--<div class="row">-->
<div class="daycare_preferences">
    <h4>Daycare preferences:</h4>
    <form name="daycare_selection_form" method="post" onsubmit="return redirect()">
        <table class="stripe hover" id="daycare_pref_table">
            <thead>
            <tr>
                <th>Daycare name</th>
                <th>Group capacity</th>
                <th>Building capacity</th>
                <th>Address</th>
                <th>Selection</th>
            </tr>
            </thead>
            <tbody>
            {{# each daycare_info }}
                <tr>
                    <td>{{ this.daycare_name }}</td>
                    <td>{{ this.places_left }}</td>
                    <td>{{ this.capacity }}</td>
                    <td id="address_daycare">{{ this.address }}</td>
                    <td><input type="radio" name="daycare_prefrence" value={{ this._id }}></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <script>
            $(function () {
                $("#daycare_pref_table").dataTable({
                    paging: false,
                    searching: false,
                    info: false,
                    ordering: false
                });
            })
        </script>
        <button class="btn btn-default" name="submit_choice" type="submit" id="application_submit">Submit</button>
        <script>
            function redirect() {
                let choice = document.querySelector('input[name="daycare_prefrence"]:checked').value
                let id = document.querySelector('div#basic_info').querySelector('#id_code').innerHTML.slice(-11)
                window.location.replace('/application_submit/' + id)
                return false
            }
        </script>
    </form>
</div>
<!--</div>-->